# Git
.git/
.gitignore

# Liquibase
db/

# Docker
Dockerfile
docker-compose.yaml
.dockerignore

# Make
Makefile

# Volumes
volumes/

# Node
**/node_modules/
**/package-lock.json
**/package.json
**/tailwind.config.js

# Templ
**/*.templ

# IDE
.idea/
.vscode/

# Other
README.md