:root {
    --background-color: #222831;
    --container-background-color: #3d464b;
    --border-color: #dddddd;
    --text-color: #ffffff;
    --placeholder-text-color: #cacaca;
}

body {
    height: 100svh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
}

/* TODO: play around with border radius and copy youtube? */
#searchBoxContainer {
    width: fit-content;
    display: flex;
}

#searchBox {
    height: 50px;
    width: 500px;
    padding: 0px 10px;
    font-size: larger;
    color: var(--text-color);
    background-color:  var(--container-background-color);
    border: solid 1px var(--border-color);
    outline: none;
}

#searchBox::placeholder {
    color: var(--placeholder-text-color);
}

#searchButton {
    height: 51.6px;
    width: 51.6px;
    cursor: pointer;
    background-color: var(--container-background-color);
    border: solid 1px var(--border-color);
}

#searchIcon {
    height: 30px;
    width: 30px;
    padding: 4px 4px;
    background-image: url("/static/media/search.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
