<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>Company Financials for Dummies</title>
    <link rel="stylesheet" type="text/css" href="/static/css/company.css">
</head>

<!-- TODO: add a section with more general information  -->

<body>
    <h1 id="companyName">{{ .Name }} ({{ .Ticker }})</h1>
    <p id="stockPrice" style="color: #4e9f3d;">{{ .StockPrice }} ({{ .DayMovePercentage }})</p>
    <p id="stockPrice" style="color: #cf0000;">{{ .StockPrice }} ({{ .DayMovePercentage }})</p>
    <!-- <h2>{{ .Exchange }}</h2>
    <h3>Financials:</h3>
    <ul>
        {{ range $key, $value := .Financials }}
        <li>
            <p><b>{{ $value.Label }}</b></p>
            <p>{{ $value.Description }}</p>
            <p>{{ $value.Values }}</p>
        </li>
        {{ end }}
    </ul> -->
</body>

</html>