<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>Company Financials for Dummies</title>
    <link rel="stylesheet" type="text/css" href="/static/css/error.css">
</head>

<body>
    <!-- TODO: update with image and change heading -->
    <p id="errorMessage">{{ . }}</p>
    <a href="/">
        <button id="homeButton">Back to Home</button>
    </a>
</body>

</html>